html, body {
	margin:0px; padding:0px; 
	background:#fff;
	position:relative; 
}

body {
	text-align:center;
    font-family: PT Sans, PF Din Text Pro, sans-serif;
    font-size: 16px;
}

b{
font-family: avenir-bold;

}
h1{
    margin: 0px;
    padding-top: 90px;
    color: white;
    font-family: PF Din Text Pro;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    font-family: PF Din Text Pro;
    text-transform: uppercase;
    margin: 0px;
}
span {
    font-family: PT Sans;
    color: #8e8e8e;
}

#all {
	text-align:left;
	margin:0 auto;
	min-width:960px;
}
.block{
	display: block;
	box-sizing: border-box;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
    height: 100%;
}
header{
	background: #fff;
	height: 110px;
	width: 100%;
    font-size: 16px;
}
.logo {
    
    float:left;
    height: 67px;
    margin: 22px 0px 0px 0px;
    position: relative;
}
.logo span {
    background: url(../img/logo.png) no-repeat;
    position: relative;
    padding: 46px 0px 0px 79px;
    margin: 0px 0px 0px 0px;
    display: block;
    color: #333333;
}
.phone {
    float: right;
    position: relative;
    top: 17%;
}
.phone p {
    margin: 0px 0px 6px 0px;
    font-family: Phenomena;
    font-size: 36px;
    font-weight: 900;
    color: #333333;
}
.slide1{
	width: 100%;
	height: 800px;
	background: url('../img/bg1.jpg');
	background-size: cover;
}
.slide1 h2 {
    font-size: 34px;
    color: white;
    font-weight: 400;
    padding-top: 24px;
}
.slide1 h2 span {
    color: #c3d646;
    font-family: PF Din Text Pro;
}
.night_buy {
    color: white;
    margin-top: 70px;
}
.text {
    font-family: PT Sans;
    font-size: 24px;
}
.button {
    text-decoration: none;
    margin: 40px auto;
}

.button a {
    background: #c3d646;
    border: none;
    border-radius: 8px;
    padding: 16px 60px;
    font-family: PT Sans;
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.button a:hover {
    background: #b3c53a;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
}
.timer {
    color: white;
    padding-top: 60px;
}
.timer span {
    color: white;
}
.timer_time {
    height: 64px;
    
}
.timer_time div {
    display: inline-block;
    margin: 0px 7px 0px 7px;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
}
.time1, .time2, .time3 {
    border: 2px solid #fff;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    line-height: 60px;
}
.timer_name {
    margin-top: 5px;
}
.timer_name span {
    margin: 0px 30px;
    display: inline-block;
    font-weight: bold;
    width: 50px;
}
.slide2{
	width: 100%;
	height: 905px;
	background: #fff;
}
.slide2 h2 {
    font-size: 40px;
    padding: 88px 0px 66px 0px;
}
.razlichia div {
    width: 470px;
    position: relative;
    line-height: 1.5
}
.head {
    width: 470px;
    height: 60px;
    font-family: PF Din Text Pro;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px 5px 0px 0px;
}
.minus {
    float:left;
    text-align: left;
}
.minus > span {
    color: #bebebe;
    background: #dfdfdf;
    padding: 16px 180px;
}
.minus ul {
    margin: 50px 0px 0px -10px;
    
}
.minus ul li {
    margin: 25px 0px 0px 0px;
    list-style: none;
}
.minus ul li:before {
    content: '';
    background: url(../img/cross.png) no-repeat left top;
    height: 24px;
    width: 24px;
    position: absolute;
    left: 0;
}
.minus ul span {
    color: #343434;
    display: block;
    padding-left: 5px;
}
.plus {
    float: right;
    text-align: left;
}
.plus ul {
    margin: 50px 0px 0px -10px;
}
.head {
    color: white;
    background: #c3d646;
    padding: 16px 180px;
}
.plus ul li {
    margin: 25px 0px 0px 0px;
    list-style: none;
    padding-bottom: 7px;
}
.plus ul li:before {
    content: '';
    background: url(../img/check.png) no-repeat left top;
    height: 21px;
    width: 24px;
    position: absolute;
    left: 0;
}
.plus ul span {
    color: #343434;
    display: block;
    padding-left: 5px;
}
.slide3{
	width: 100%;
	height: 501px;
	background: url('../img/bg3.jpg');
	background-size: cover;
    color: white;
}
.slide3 h2 {
    padding-top: 100px;
    font-size: 34px;
    font-weight: normal;
}
.slide3 .button {
    margin: 60px auto;
}
.line {
    content: '';
    display: block;
    width: 960px;
    height: 2px;
    background-color: rgba(255,255,255,0.2);
    margin: 35px 0px;
}
.line2 {
    content: '';
    display: block;
    width: 960px;
    height: 2px;
    background-color: rgb(235,235,235);
    margin: 0px auto 60px; 
}
.line3 {
    content: '';
    display: block;
    width: 960px;
    height: 2px;
    background-color: rgb(235,235,235);
    margin: 60px auto 60px; 
}
.slide3 h3 {
    font-size: 22px;
    font-weight: normal;
}
.slide4{
	width: 100%;
	height: 740px;
	background: #fff;
}
.slide4 h2 {
    font-size: 40px;
    margin: 90px 0px 50px 0px;
}
.leftForm {
    float: left;
    width: 460px;
}
.leftForm table {
    margin-top: 23px;
}
.leftForm table tr:first-child > td:first-child {
    width: 250px;
}
.leftForm table span {
    font-weight: bold;
    color: #333333;
}
.imgForm {
    border: 1px solid #ebebeb;
}
.tableForm {
    text-align: left;
}
.leftForm .button {
    text-align: left;
}
.rightForm {
    float: right;
    display: block;
}
.modelAll {
    display: block;
    text-align: left;
    margin: -9px 0px 0px 0px;
}
.model-n1, .model-n2, .model-n3, .model-n4 {
    display: block;
    padding: 2px 155px 2px 20px;
    font-size: 24px;
    margin-bottom: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
}
.model-n1:hover, .model-n1:active, .model-n2:hover, .model-n2:active, .model-n3:hover, .model-n3:active, .model-n4:hover, .model-n4:active {
    border: 2px solid #c3d646;
    border-radius: 10px;
    cursor: pointer;
}

.modelAll span {
    font-size: 16px;
}
.modelSize {
    display: block;
    height: 65px;
    margin-bottom: 28px;
    margin-top: 39px;
}
.modelSize div {
    display: inline-block;
    float: left;
    margin: 0px -3px 0px 22px;
    padding: 9px 14px 9px 18px;
    font-size: 30px;
    border: 2px solid #ebebeb;
}
.modelSize span {
    font-size: 30px;
    font-family: Open Sans;
    color: #343434;
}
.modelSize div:hover {
    border-color: #c3d646;
    cursor: pointer;
}
.colorModel {
    display: block;
    margin: 0px 0px 0px 22px;
}
.colorModel div {
    display: inline-block;
    margin: 0px 18px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 2px solid #ebebeb;
    width: 60px;
    height: 60px;
    float: left;
}
.colorModel div:hover {
    border-color: #c3d646;
    cursor: pointer;
    background-clip: content-box;
    padding: 3px;
    height: 54px;
    width: 54px;
}
.modelC-n2 {
    background: #f0df68;
}
.modelC-n3 {
    background: #6588ef;
}
.slide5{
	width: 100%;
	height: 780px;
	background: url('../img/bg5.jpg');
	background-size: cover;
    display: block;
}
.slide5 > div > div {
    display: block;
}
.preim_1 {
    margin: 0px 0px 70px 0px;
}
.slide5 h2 {
    font-size: 40px;
    padding-top: 90px;
    padding-bottom: 50px;

}
.slide5 span {
    color: #343434;
    line-height: 1.8;
}
.otl {
    display: inline-block;
    width: 260px;
    vertical-align: top;
}
.slide6{
	width: 100%;
	height: 455px;
	background: #fff;
}
.slide6 h2 {
    font-size: 34px;
    font-weight: normal;
}
.about1 {
    width: 264px;
    height: 264px;
    display: inline-block;
    float: left;
    padding-top: 92px;
    padding-right: 35px;
}
.about2 {
    display: inline-block;
    width: 650px;
    padding-top: 84px;
    text-align: left;
}
.slide7{
	width: 100%;
	height: 775px;
	background: #fff;
}
.slide7 h2 {
    font-size: 40px;
    padding: 20px 0px 20px 0px;
}
.gallery {
    background: url(../img/gallery.jpg) no-repeat 100%;
    height: 538px;
    padding-top: 52px;
}
.slide8{
	margin-top: 80px;
	width: 100%;
	height: 400px;
    position: relative;
}
.slide8 .block {
    position: absolute;
    top: 0;
    right: 52%;
    z-index: 3;
    width: 927px;
    height: 400px;
    background: url(../img/contacts.png);
}
.map {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 400px;
    width: 100%;
    transition: z-index 1s ease 0.3s;
}
.map:hover {
    z-index:6;
}
.adress {
    position: relative;
    z-index: 4;
    float: right;
    text-align: left;
    color: white;
    padding: 65px 170px 0px 0px;
}
.adress h2 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 28px;
}
.adr {
    font-weight: bold;
    width: 90px;
    font-size: 18px;
}
footer{
	width: 100%;
	height: 100px;
	background: #fff;
}
footer .block {
    
}
.copyrite {
    display: inline-block;
    float: left;
}
.whoiswho {
    display: inline-block;
    float:  right;
}
